
*{
    padding: 0px;
    margin: 0;
}
/* #photto{
    width: 60px;
    height: 60px;
    border-radius: 100%;
    background-color: #a3bbb6;
} */
.image{
    width:  35px;
    height:  35px;
    border: solid 1px;
    border-radius: 100%;

}
body{
    display: flex;
}

header{
    width: 20vw;
    height: 100vh;
    background-color: rgb(236, 233, 233);
    display: flex;
    flex-direction: column;
    align-items: center;
    
    gap: 15px;
}

.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

#modal{
    display: none;
    position: fixed;
    top: -10px;
    left: 212px;
  z-index: 1;
    width: 50%;
    height: 100%;
  overflow: auto; 
  
}
#bgMOdal{
    display: none;
    width: 100vw;
    height: 100vh;
    position: absolute;
    inset: 0;
    backdrop-filter:blur(10px);
}
#modal2{
    display: none;
    position: fixed;
    top: -10px;
    left: 212px;
    
  z-index: 1;
    width: 50%;
    height: 100%;
  overflow: auto; 

}
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
#close2{
    color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
#modal-content {
  background-color: #fefefe;
  margin:  auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}
#modal-contentt {
  background-color: #fefefe;
  margin:  auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}
main{
    display: flex;
    justify-content: space-between;
    width:80vw ;
    height:100vh ;
     background-image: url('img/photo-de-setnence-croisi.jpg');
     background-repeat: no-repeat;
     background-position: center ;
    background-size:100% 100% ;
    /* margin: 10px; */
    /* margin-bottom: 15px; */
     /* object-fit: cover; */

     /* background-origin: unset; */

}
#experience{
    text-align: center;
    display: inline;
    width: 100px;
}

.section{
    width: 38%;
    height: 100vh;
    /* background-color: red; */
    /* opacity: 0.5; */
}
.section2{
    width: 45%;
    height:100vh;
    /* background-color: rgb(0, 255, 51); */
    /* opacity: 0.5; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.div1{
    /* background-color: #cdc612; */
    height: 33%;
    width: 100%;
    align-content: center;
    text-align: center;
}
.div2{
    /* background-color: #3712cd; */
    height:67%;
    width: 100%;
    align-content: center;
    text-align: center;
}
.div3{
    width: 50%;
    /* background-color: #2614b3; */
    align-content: center;
    text-align: center;
}
.div4{
    width: 50%;
    /* background-color: #01d5fb; */
    align-content: center;
    text-align: center;

}
 .asideTop{
    width: 100%;
    height: 34%;
    /* background-color: #d40606; */
    display: flex;
 }
 .asideBottom{
    /* background-color: #cb11dc; */
    display: flex;
    justify-content: space-around;
    height: 34%;
 }
 .div5{
    width: 50%;
    /* background-color: #2614b3; */
    align-content: center;
    text-align: center;
}
.div6{
    width: 50%;
    /* background-color: #01d5fb; */
    align-content: center;
    text-align: center;
}

.btn-Add-New{
    padding: 10px;
    background-color: rgb(8, 170, 8);
    color: white;
}
.li1{
    max-width: 200px;
    background-color: #d0d0d0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border: solid 2px ;
    border-radius: 10px;
}
.name{
    font-weight: bold;
}
.small{
    font-size: 10px;
    /* position: relative; */
}

.btn-edit{
    padding: 0px 5px;
    color: red;
    /* background-color: rgb(137, 11, 11); */
}

.lismall{
     width: 90px;
     display: flex;
     /* justify-content: space-evenly; */
     
}
.imgSmall{
    width: 20px;
    height: 20px;

}
.nameSmall{
    font-size: xx-small;
}
.SMALL{
    font-size: xx-small;

}
.btnEDITsmall{
    font-size: xx-small;
    padding: 0px 0px;
      
} 
.ulFlex{
    display: flex;
    flex-wrap: wrap;
    gap:1px
}
input{
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
    
}
select{
    padding: 10px;
    border-radius: 10px;
    /* display: flex;
    flex-direction: column; */
}
option{
    padding: 20px;
    border-radius: 10px;
    background-color: #8a6666;
    /* opacity: 0.4; */
    /* display: flex;
    flex-direction: column; */
}
label{
    font-weight: bold;
    color: rgb(71, 62, 68);
    
}
form{
    padding: 5px;
    display: flex;
    flex-direction: column;
    background-color: #a5c596;
    

}

.Btn-Cancel{
    padding: 10px;
    background-color: #9c9696;
}
.List-Header{
    display: flex;
    flex-direction: column;
    gap: 10px;
}





/* medai */


.informations{
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 10px;
}
span{
    font-size: 15px;
    font-weight: bolder;
}

@media(max-width:600px){
 main{
    background-size:100% 100% ;
 }
 /* body{
    font-size: 8px;
    
 } */
 /* .li1{
 width: 90px;
} */

/* .small{ */
    /* font-size: 10px; */
    /* position: relative; */
/* } */

/* .btn-edit{
    padding: 0px ;
    
} */
/* .li1{
     width: 70px;
     display: flex; */
     /* justify-content: space-evenly; */
     /* gap: 1px;
} */

.li1{
     width: 89px;
     padding: 0px;
     display: flex;
     gap: 2px;
}
.image{
    width:  20px;
    height:  23px;

}
.name{
    font-size: 7px;
}
.small2M{
    font-size: xx-small;

}
.small{
    font-size: 5px;
}
.btnEditsmall{
    font-size: xx-small;
    /* padding: 5px; */
    padding: 0px 2px;
      
} 
.editJS{
    font-size:5px ;
}


.btn-Add-New{
    padding: 2px;
    width: 90px;
}
.Btn-Cancel{
    padding: 2px;
    width: 90px;
    
}
#company{
    width: 75%;
}
}
/* med */
@media(min-width:601px) and (max-width:900px){
 main{
    background-size:100% 100% ;
 }

.small{
    font-size: 10px;
}

.lisHeader{
     width: 100px;
     height: 25px;
     padding: 5px;
     gap: 2px;
}
.imgSmalll{
    width: 34px;
    height: 30px;
}
.nameSmall2M{
 font-size: xx-small;

}
.btnEditsmall{
    font-size: xx-small;
    padding: 5px;
     padding: 0px 2px;
      
}  

.small{
    font-size: 12px;
} 
.btn-Add-New{
    padding: 2px;
    width: 90px;
}
.Btn-Cancel{
    padding: 2px;
    width: 90px;
    
}

}


