
*{
    padding: 0px;
    margin: 0;
}

.image{
    width:  45px;
    height:  45px;
    border: solid 1px;
    border-radius: 100%;

}
body{
    display: flex;
}

header{
    width: 20vw;
    height: 100vh;
    background-color: rgb(236, 233, 233);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}
/* modal */
/* .modal { */
  /* display: none;
  position: fixed; */
  /* z-index: 1; */
  /* left: 0; */
  /* top: 0; */
  /* width: 100%; */
  /* height: 100%; */
  /* overflow: auto; */
  /* background-color: rgb(0,0,0); */
  /* background-color: rgba(0,0,0,0.4); */
/* } */

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* .close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
} */

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
/* //////////////////////// */
#modal{
    display: none;
    position: fixed;
    top: -10px;
    left: 212px;
    
  z-index: 1;
    width: 50%;
    height: 100%;
  overflow: auto; 

}
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
#modal-content {
  background-color: #fefefe;
  margin:  auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}
main{
    display: flex;
    justify-content: space-between;
    width:80vw ;
    height:100vh ;
     background-image: url('img/photo-de-setnence-croisi.jpg');
     background-repeat: no-repeat;
     background-size: cover;
}

.section{
    width: 38%;
    height: 100vh;
    background-color: red;
    opacity: 0.5;
}
.section2{
    width: 45%;
    height:100vh;
    /* background-color: rgb(0, 255, 51); */
    opacity: 0.5;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.div1{
    background-color: #cdc612;
    height: 33%;
    width: 100%;
    align-content: center;
    text-align: center;
}
.div2{
    background-color: #3712cd;
    height:67%;
    width: 100%;
    align-content: center;
    text-align: center;
}
.div3{
    width: 50%;
    background-color: #2614b3;
    align-content: center;
    text-align: center;
}
.div4{
    width: 50%;
    background-color: #01d5fb;
    align-content: center;
    text-align: center;

}
 .asideTop{
    width: 100%;
    height: 34%;
    background-color: #d40606;
    display: flex;
 }
 .asideBottom{
    background-color: #cb11dc;
    display: flex;
    justify-content: space-around;
    height: 34%;
 }
 .div5{
    width: 50%;
    background-color: #2614b3;
    align-content: center;
    text-align: center;
}
.div6{
    width: 50%;
    background-color: #01d5fb;
    align-content: center;
    text-align: center;
}

.btn-Add-New{
    padding: 10px;
    background-color: rgb(8, 170, 8);
    color: white;
}
.li1{
    background-color: #d0d0d0;
    /* background-size: cover; */
    display: flex;
    align-items: center;
    gap: 10px;
    border: solid 2px ;
    border-radius: 10px;
    padding: 5px;
}
.name{
    font-weight: bold;
}
.small{
    font-size: 10px;
    position: relative;
}

.btn-edit{
    padding: 0px 5px;
}

.lismall{
     width: 90px;
     
}
.imgSmall{
    width: 20px;
    height: 20px;
}
.nameSmall{
    font-size: xx-small;
}
.SMALL{
    font-size: xx-small;

}
.btnEDITsmall{
    font-size: xx-small;
    padding: 0px 0px;
      
} 


/* ///////////////// */

